@model List<Examen.Domain.Models.Tarea>
@{
    ViewData["Title"] = "Tareas";
}

<div class="text-center">
    <h1 class="display-4">Tareas Pendientes</h1>
    <table class="table">
        <thead>
            <tr class="bg-warning">
                <th>Proceso</th>
                <th>Tarea</th>
                <th>Estado</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Oservaciones</th>
                <th>Parametros</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                @foreach (var tarea in Model)
                {
                    <td>@tarea.Proceso.ProcName</td>
                    <td>@tarea.TaskName</td>
                    <td>@tarea.TaskState</td>
                    <td>@tarea.TaskStart.ToShortDateString()</td>
                    <td>@tarea.TaskEnd.ToShortDateString()</td>
                    <td>@tarea.TaskObs</td>
                    <td>
                        @foreach (var parametro in tarea.Parametros)
                        {
                            @parametro.ParaName
                            <br />
                        }
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
 